{% extends "base.html" %}
{% block html_class %}vi-color-html{% endblock %}
{% block html_style %}
    background-image: url('{{ url_for('static', filename='img/bg_main.jpg') }}');
{% endblock %}
{% block title %}Vistory Auth{% endblock %}
{% block content %}
{% if user %}
{% else %}
    <div class="vi-aligner">
        <div class="columns is-centered vi-fit-width">
            <div class="column is-4-desktop is-half-tablet is-full-mobile">
            {% include 'login_form.html' %}
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}