{% extends "base.html" %}
{% block html_class %}vi-color-html{% endblock %}
{% block html_style %}
    background-image: url('{{ url_for('static', filename='img/bg_main.jpg') }}');
{% endblock %}
{% block head %}
    {{ super() }}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block title %}Sign in{% endblock %}
{% block content %}
<div class="vi-aligner">
    <div class="columns is-centered vi-fit-width">
        <div class="column is-4-desktop is-half-tablet is-full-mobile">
        {% include 'forms/sign_in_form.html' %}
        </div>
    </div>
</div>
{% endblock %}