<nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-size-3" href="#">
            <span class="has-text-primary">Vi</span>story
        </a>
        <div class="navbar-burger burger" data-target="mainMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div id="mainMenu" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item">{% include 'forms/search_form.html' %}</div>
            <div v-if="signed" class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Denis Sologub</a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="#">Exit</a>
                </div>
            </div>
            <template v-else>
                <div class="navbar-item">
                    <a class="navbar-item button is-primary" href="{{ sign_in_url }}">Sign in</a>
                </div>
            </template>
        </div>
    </div>
  </div>
</nav>