{% from "helpers/_form_helper.html" import render_field %}
<div class="box">
    {% include 'header.html' %}
    {% if error_msg %}
        <p class="is-danger">{{ error_msg }}</p>
    {% endif %}
    <form action="{{ url_for('website.routes.sign_in') }}" method="post" class="vi-offset-top-sm">
        {{ form.next }}
        {{ render_field(form.email) }}
        {{ render_field(form.password) }}
        {{ form.recaptcha }}
        <div class="field vi-offset-top-sm">
            <p class="control">
                <button type="submit" class="button is-success">Sign in</button>
                <a href="{{ url_for('website.routes.sign_up') }}" class="button">Sign up</a>
            </p>
        </div>
    </form>
    <nav class="level vi-offset-top-sm">
      <div class="level-item has-text-centered">
        <a href="#" class="button is-text">Sign in with Google</a>
      </div>
    </nav>
</div>