@charset "utf-8";

$primary: #aa00f8;
$body-background-color: #eee;
$footer-background-color: #eee;
$box-radius: 0;
$control-radius: 0;
$control-radius-small: 0;
$input-focus-border-color: $primary;
$input-arrow: $primary;

@import "../../../bulma/bulma.sass";
// Import Extensions
@import "../../../bulma/sass/extensions/_all.sass";

.vi-offset-top-xs {
  margin-top: 1rem;
}

.vi-offset-top-sm {
  margin-top: 2rem;
}

.vi-offset-top-md {
  margin-top: 4rem;
}

.vi-offset-top-lg {
  margin-top: 12rem;
}

.vi-table-wrapper {
  overflow-x: scroll;
}